

<div class="container">
  <h3 style="color: #959595;">购物车</h3>
  <hr>

  <div class="cart_items col-md-8">

    <% current_cart.cart_items.each do |cart_item| %>
      <div class="row">
        <div class="product_image col-md-4">
          <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.photos.present? %>
              <%= image_tag(cart_item.product.photos[0].avatar.url(:thumb), class:"img-rounded", style:"width: 120px; height: 120px;") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-rounded") %>
            <% end %>
          <% end %>
        </div>
        <div class="product_content col-md-2" style="color: #959595;">
          <h4><%= cart_item.product.title %></h4>
          <p><%= cart_item.product.description %></p>
        </div>
        <div class="product_quantity col-md-4">
          <%= link_to("-", remove_quantity_cart_item_path(cart_item.product_id), class: "cart-quantity-actions", method: :post) %>
          <input class="cart-quantity-input" type="text" value="<%= cart_item.quantity %>">
          <%= link_to("+", add_quantity_cart_item_path(cart_item.product_id), class: "cart-quantity-actions", method: :post) %>
        </div>
        <div class="cart_product_delete col-md-2">
          <%= link_to cart_item_path(cart_item.product_id), class: "item-remove btn btn-xs  btn-danger", :data => { :confirm => "确认要将该商品移出购物车吗？" } ,method: :delete do %>
            <i class="fa fa-trash-o fa-fw"></i>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>

  <div class="bill">
    <h2 class="bill_title">结算</h2>
    <hr style="margin: 5px;">
    <p class="total_price">
       总计 <span style="font-weight: bold;"><%= render_cart_total_price(current_cart) %></span> RMB
    </p>
    <br><br>
    <div class="cart_button">
      <%= link_to("清空购物车", clean_carts_path, method: :delete, class: "btn btn-danger", data: {confirm: "确认要清空购物车吗"}) %>
      <%= link_to("马上结帐", checkout_carts_path, method: :post, class: "btn btn-success") %>

    </div>
  </div>
</div>
